<!DOCTYPE html>
<html>
  <head>
    <title>Suro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="Suro" />
    <meta property='og:image' content="<%= image_url('meta.png') %>"/>
    <meta property="og:description"
      content="Suro is a pixel perfect clone of Turo, a car sharing marketplace. Users can list their cars to be rented or rent other users' cars."
    />
    <meta property="og:url"
      content="https://suro-cars.herokuapp.com/"
    />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}&libraries=places" %>
    <script src="https://kit.fontawesome.com/41454d6525.js" crossorigin="anonymous"></script>
    <script type='text/javascript'>
      window.logoURL = "<%= image_url('logo.png') %>"
      window.cleaningURL = "<%= image_url('cleaning.png') %>"
      window.hearthandURL = "<%= image_url('hearthand.png') %>"
      window.insuranceURL = "<%= image_url('insurance.png') %>"
      window.slashesURL = "<%= image_url('slashes.png') %>"
      window.squigglyURL = "<%= image_url('squiggly.png') %>"
      window.thumbsupURL = "<%= image_url('thumbsup.png') %>"
      window.carURL = "<%= image_url('car.jpg') %>"
      window.classicURL = "<%= image_url('classic.jpg') %>"
      window.convertibleURL = "<%= image_url('convertible.jpg') %>"
      window.exoticURL = "<%= image_url('exotic.jpg') %>"
      window.suvURL = "<%= image_url('suv.jpg') %>"
      window.sportURL = "<%= image_url('sport.jpg') %>"
      window.optionsURL = "<%= image_url('options.png') %>"
      window.supportURL = "<%= image_url('support.png') %>"
      window.shieldcheckURL = "<%= image_url('shieldcheck.png') %>"
      window.hostcashURL = "<%= image_url('hostcash.jpg') %>"
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
