<!DOCTYPE html>
<html>
  <head>
    <title>Suro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/41454d6525.js" crossorigin="anonymous"></script>
    <script type='text/javascript'>
      window.logoURL = "<%= image_url('logo.png') %>"
      window.gtrURL = "<%= image_url('gtr.jpg') %>"
      window.cleaningURL = "<%= image_url('cleaning.png') %>"
      window.hearthandURL = "<%= image_url('hearthand.png') %>"
      window.insuranceURL = "<%= image_url('insurance.png') %>"
      window.slashesURL = "<%= image_url('slashes.png') %>"
      window.squigglyURL = "<%= image_url('squiggly.png') %>"
      window.thumbsupURL = "<%= image_url('thumbsup.png') %>"
    </script>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
